.footer {
  background-color: #ffb5b5;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.footer-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer-link:hover {
  color: white;
}

.marelo-highlight {
  color: #f0f0f0;
}

#instagram {
  font-size: 24px;
  color: black;
}

#instagram:hover {
  color: #e1306c;
}

#whatsapp {
  font-size: 24px;
  color: black;
}

#whatsapp:hover {
  color: rgb(0, 255, 0);
}
