<Navbar></Navbar>
<div class="about-container">
  <slogan></slogan>

  <div class="about-section">
    <p class="about-text">
      Nos apasiona ayudarte a encontrar el detalle perfecto para cada ocasión
      especial.
    </p>
    <p class="about-text">
      Desde elegantes arreglos personalizados hasta encantadoras bandejas de
      regalo.
    </p>
    <p class="about-text">
      Nuestro trabajo es sorprender y deleitar a tus seres queridos.
    </p>
  </div>

  <div class="about-section">
    <p class="about-text">
      Productos de calidad y un servicio exceptional, estamos comprometidos a
      hacer que tus experiencias de regalo sean inolvidables.
    </p>
    <p class="about-text">
      Ya sea un cumpleaños, aniversario laboral o personal, o simplemente para
      expresar tu aprecio, Marelo tiene el regalo perfecto para ti.
    </p>
  </div>

  <div class="about-section">
    <p class="about-text">Estamos a la orden.</p>
  </div>
</div>
<Footer></Footer>
