.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.navbar-logo img {
  height: 60px;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
  cursor: pointer;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar-menu a:hover {
  color: gray;
}
