<div class="menu-container">
  <div class="menu-item" *ngFor="let item of menuItems">
    <img [src]="item.image" alt="{{ item.title }}" class="menu-item-image" />
    <div class="menu-item-info">
      <h3 class="menu-item-title">{{ item.title }}</h3>
      <p class="menu-item-price">
        <span class="price-usa">{{
          item.priceUSD | currency : "USD" : "symbol"
        }}</span>
        /
        <span class="price-rd">{{
          item.priceRD | currency : "RD$" : "symbol"
        }}</span>
      </p>
    </div>
  </div>
</div>
