.slogan-text {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(40, end) forwards,
    remove-caret 0.1s forwards 3.6s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes remove-caret {
  from {
    border-right: none;
  }
  to {
    border-right: none;
  }
}

.slogan-marelo {
  color: #ffb5b5;
}

@media (max-width: 600px) {
  .slogan-text {
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
  }

  @media (max-width: 400px) {
    .slogan-text {
      font-size: 14px;
      width: 100%;
    }
  }
}
